#root {
  max-width: 1280px;
  margin: 0 10%;
  padding: 2rem;
  text-align: center;
  
}
.main_page{
  display: flex;
  height: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

